#grid {
    background-color: darkblue;
    border-radius: 25px;
    font-size: 5vw;
}

.row {
    justify-content: center;
    flex-wrap: nowrap;
}

.col-1 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-row {
    justify-content: space-between;
    margin-left: 5.5%;
    margin-right: 6%;
}